{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>My Page - Server side in Django</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script type="text/javascript" src="{% static 'js/zegar.js'%}"></script>

</head>
<body>
<header>

<h1> This will be begining</h1>
</header>
<div class ="conteiner">
	<p>This is main div</p>
	<div class="row">
		<div class="col-md-12" style="background: blue"> This will be header</div>
		<div class="col-md-3 "style="background: red"> this will be left sight block</div>
		
		<div class="col-md-9" style="background: yellow"> 
			<div class="row">
				<div class="col-md-3 border-right border-bottom border-secondary">
					One</br>
					Title:@
					Author:@
				</div>
				<div class="col-md-9">
					Opis:
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 border-right border-secondary">
					There</br>
					Jeszcze nie wiem: może jakiś link do szzegółowego opisu ?
				</div>
				<div class="col-md-9">
					Ksiązki i takie tam
				</div>
			</div>


		</br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu quam vehicula, condimentum mauris sed, dapibus nisl. Suspendisse ullamcorper vulputate augue, eu pharetra felis facilisis eget. Curabitur orci nunc, consectetur id volutpat sed, molestie quis magna. Pellentesque aliquam quis nulla vel tincidunt. Ut diam justo, posuere tristique pretium a, dictum vel odio. Sed ornare scelerisque felis, vitae vehicula dui ullamcorper vel. Sed eget nisl eget diam placerat blandit. Mauris eu facilisis urna. Sed rutrum enim eu sem hendrerit, non egestas velit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer eu eros consectetur, scelerisque quam sit amet, vehicula justo.
			</br>
			Suspendisse lobortis nec leo non ullamcorper. Aliquam non semper lorem. Sed ut dolor sed est dapibus porttitor. Mauris ex orci, porta nec massa a, malesuada scelerisque nulla. Vestibulum vitae egestas neque. Duis viverra dolor non maximus tristique. Nullam tincidunt ante tortor, eu accumsan nulla consectetur ut. Sed ligula magna, efficitur nec maximus vitae, iaculis id leo. Mauris interdum quis nibh sit amet convallis. Vivamus semper scelerisque sapien, in pharetra ex egestas eu. Integer at neque accumsan, bibendum ante eu, volutpat sem.
			</br>
			Suspendisse vitae neque sed metus cursus elementum. Quisque viverra felis vitae scelerisque ornare. Aenean in faucibus nunc. Nullam tempus lectus sit amet tincidunt volutpat. Integer pharetra massa ut eros molestie rhoncus. Nam vitae nunc condimentum, ultricies augue eget, aliquam dolor. Integer elementum efficitur efficitur. Etiam eget neque a metus finibus viverra ac id diam. Fusce hendrerit aliquam massa, nec iaculis eros ultrices interdum. Nam ultricies vestibulum porttitor. Nulla mattis lacus non nunc hendrerit, a faucibus enim consequat. Nulla sed dapibus eros.
			</br>
			Etiam at semper lacus. Etiam semper justo mollis, volutpat nunc vel, suscipit dui. In hendrerit dignissim aliquet. Donec a ante vel metus varius porta sit amet at erat. In posuere ipsum vitae sapien molestie, varius hendrerit quam fermentum. Suspendisse vulputate iaculis sem non sodales. Curabitur ut nunc cursus, eleifend lectus sit amet, egestas odio. Duis tempor dolor at ante porta commodo. Suspendisse in turpis sit amet dolor posuere elementum non vel ligula. Vivamus felis tortor, suscipit vitae mi a, vestibulum consequat massa. Ut non sem vel leo rutrum sodales vel non elit. Donec nisi tellus, porta eu augue sit amet, lobortis posuere velit. Nam at porttitor lectus. Donec lobortis finibus accumsan. Sed nulla massa, luctus feugiat augue in, aliquet cursus mi. Quisque condimentum condimentum diam, in cursus mauris facilisis nec.
			</br>
			Pellentesque pretium elit at ante pulvinar, vel elementum lorem maximus. Donec ornare bibendum condimentum. Vivamus non purus nisi. Aenean efficitur tincidunt laoreet. Pellentesque ultricies, nunc suscipit suscipit elementum, justo metus porta dolor, sed varius elit nisl eu ex. Sed porta bibendum lectus ac sollicitudin. Maecenas vulputate laoreet nibh eleifend interdum. Nam ultrices leo eget risus convallis fermentum eget vitae neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		</div>
		
	</div>
</div>
<footer class="col-md-12">
	<p>
		To jest mój pierwszy zegar w js:
	</p>
		<div id ="clock"></div>
		
		<script type="text/javascript">
			timer();
		</script>
</footer>
</body>
</html>